
@{
    ViewBag.Title = "Create";
}

<h2>員工新增</h2>
<form action="@Url.Action("Create")" method="post">
    <div class="form-group">
        <label for="fName">員工姓名</label>
        <input type="text" name="fName" id="fName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="fName">連絡電話</label>
        <input type="text" name="fPhone" id="fPhone" class="form-control"  
               pattern="[0-9]{10}"title="請填入行動電話 " required/>
    </div>
    <div class="form-group">
        <label for="fName">員工薪資</label>
        <input type="text" name="fSalary" id="fSalary" class="form-control"
               min="22000" max="60000" step="1000"required />
    </div>
    <input type="submit" value="新增" class="btn btn-success" />
</form>

